<a href="https://colab.research.google.com/github/kasyap1234/basic-functions-in-python/blob/main/pandas_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
mydata={'car': ['volvo','bmw','benz'], 
'marks': [3,7,2]}
mydata_df=pd.DataFrame(mydata)

In [2]:
print(mydata_df)

     car  marks
0  volvo      3
1    bmw      7
2   benz      2

In [3]:
nums=[10,3,20]
# converting into a data frame 
nums_df=pd.DataFrame(nums)
print(nums_df)

    0
0  10
1   3
2  20

In [6]:
b=pd.Series(nums)
print(b)

0    10
1     3
2    20
dtype: int64

In [10]:
data={
    'players':['messi','virat kohli','neymar jr'], 
    'value': [300,200,250]

}
table=pd.DataFrame(data,index=['football','cricket','football'])
print(table)

              players  value
football        messi    300
cricket   virat kohli    200
football    neymar jr    250