<a href="https://colab.research.google.com/github/kasyap1234/basic-functions-in-python/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
pd.DataFrame({'Kasyap': [100,94],'unna': [90,92]}, index=['student 1 ','student 2'])

            Kasyap  unna
student 1      100    90
student 2       94    92

pandas Series : 

>
 similar to python list

In [5]:
pd.Series([10,20,30,40],index=['kohli','rahane','pujara','naruto'])

kohli     10
rahane    20
pujara    30
naruto    40
dtype: int64

Reading data files

In [ ]:
# df=pd.read_csv('filepath') ; 
#df.head()